.container-flex{
   /* display: grid;
    grid-template-columns: 33%  33% 33% ;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

    .container-flex div {
        display: flex;
        align-items: center;
        align-content: center;
    padding: 20px 40px;
  
}
.container-flex div a{
    text-decoration: none;
    color: blue;
    opacity: 0.8;
    
} 
.container-flex > div:hover{
    
    background-color: gold;
    border: 2px solid blue;
    
}